.StatsBar {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 12px;
    border-radius: 40px;
    z-index: 2;
}



.NavBarLineRight {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 90%;
    height: 50%;
    border-top: 0.5px solid rgba(150, 150, 150, 0.15);
    border-left: 0.5px solid rgba(195, 195, 195, 0.15);
    border-top-left-radius: 40px;
    z-index: 0;
    pointer-events: none;
}

.NavBarLineLeft {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 90%;
    height: 50%;
    border-bottom: 0.5px solid rgba(195, 195, 195, 0.15);
    border-right: 0.5px solid rgba(150, 150, 150, 0.15);
    border-bottom-right-radius: 40px;
    z-index: 0;
    pointer-events: none;
}

.NavItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: all 0.2s ease;
    font-weight: 600;
}

.NavItem span {
    font-size: 20px;
}

.BubbleClose:hover {
    font-size: 22px;
    text-shadow:
        0 0 5px var(--ColorActive),
        0 0 10px var(--ColorActive),
        0 0 20px var(--ColorActive),
        0 0 40px var(--ColorActive),
        0 0 80px var(--ColorActive);
}

.BubbleClose {
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translate(0px, -50%);
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    z-index: 2;
    backdrop-filter: blur(5px);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease;
}

@media (max-width: 480px) {
    .StatsBar {
        top: 80px;
        left: 20px;
        right: inherit;
    }
}