
.InfoBar {
  position: fixed;
  right: 20px;
  bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  z-index: 2;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);

  transition: transform 0.3s ease, opacity 0.3s ease;
}

.InfoBar span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  text-align: center;
  transition: all 0.2s ease;
}

.InfoBar .value {
  font-size: 48px;
  color: #00ff99; 
}

.InfoBar .status {
  font-size: 16px;
  color: #ffffff;
  opacity: 0.8;
}