.LoadSpinConteiner {
  position: fixed;
  left: 50%;
  top: 50%;
  transition: transform 0.3s ease;
  transform: translate(-50%, -50%) scale(0.2);
  padding: 15px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .15);
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.LoadSpin {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 9px white solid;
  border-right: 9px #18a3db solid;
  animation: spin 1s infinite linear;
}

.LoadSpins {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 9px white solid;
  border-right: 9px #18a3db solid;
  animation: spins 1s infinite linear;
}


.LoadSpinFull {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spins {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.LoadBack {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.3);
  z-index: 3;

  backdrop-filter: blur(7px);
}