.NavBar {
    position: fixed;
    top: 20px;
    left: 20px;
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 12px;
    border-radius: 40px;
    z-index: 2;
}

.NavItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--ColorText);
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 1;
}

.NavItem span {
    font-size: 20px;
    transition: all 0.3s ease;
}

.NavItem:hover span {
    text-shadow:
        0 0 5px var(--ColorActive),
        0 0 10px var(--ColorActive),
        0 0 20px var(--ColorActive),
        0 0 40px var(--ColorActive),
        0 0 80px var(--ColorActive);
}

.NavItem:hover {
    transform: translateY(-2px);
    color: var(--ColorActive);
}


.Bubble {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0px, -50%);
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
}


.BubbleClose:hover {
    font-size: 22px;
    text-shadow:
        0 0 5px var(--ColorActive),
        0 0 10px var(--ColorActive),
        0 0 20px var(--ColorActive),
        0 0 40px var(--ColorActive),
        0 0 80px var(--ColorActive);
}

.BubbleClose.Visible {
    transform: translate(50px, -50%);
    opacity: 1;
    pointer-events: all;
}

.BubbleClose {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0px, -50%);
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    z-index: 2;
    backdrop-filter: blur(5px);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    opacity: 0;
    transition: all 0.2s ease;
    pointer-events: none;
}