.NavBar {
    position: fixed;
    top: 20px;
    left: 20px;
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 12px;
    border-radius: 40px;
    background-color: rgba(98, 98, 98, 0.1);
    backdrop-filter: blur(5px);
    z-index: 2;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.NavBarLineRight {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 90%;
    height: 50%;
    border-bottom: 0.5px solid rgba(195, 195, 195, 0.15);
    border-right: 0.5px solid rgba(150, 150, 150, 0.15);
    border-bottom-right-radius: 40px;
    z-index: 0;
    pointer-events: none;
}

.NavBarLineLeft {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 90%;
    height: 50%;
    border-top: 0.5px solid rgba(150, 150, 150, 0.15);
    border-left: 0.5px solid rgba(195, 195, 195, 0.15);
    border-top-left-radius: 40px;
    z-index: 0;
    pointer-events: none;
}



.NavItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 1;
}

.NavItem span {
    font-size: 20px;
    transition: all 0.3s ease;
}

.NavItem:hover span {
    text-shadow:
        0 0 5px #18a3db,
        0 0 10px #18a3db,
        0 0 20px #18a3db,
        0 0 40px #18a3db,
        0 0 80px #18a3db;
}

.NavItem:hover {
    transform: translateY(-2px);
    color: #18a3db;
}


.Bubble {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0px, -50%);
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
}


.BubbleClose:hover {
    font-size: 22px;
    text-shadow:
        0 0 5px #18a3db,
        0 0 10px #18a3db,
        0 0 20px #18a3db,
        0 0 40px #18a3db,
        0 0 80px #18a3db;
}

.Bubble.Visible {
    transform: translate(50px, -50%);
    opacity: 1;
    pointer-events: all;
}

.BubbleClose {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: rgba(98, 98, 98, 0.15);
    z-index: 2;
    border: none;
    color: white;
    font-size: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}


.NavBarLineRightCircle {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 60%;
    height: 50%;
    border-bottom: 1px solid rgba(190, 190, 190, 0.15);
    border-right: 1px solid rgba(164, 164, 164, 0.15);
    border-bottom-right-radius: 50px;
    z-index: 0;

}

.NavBarLineLeftCircle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60%;
    height: 50%;
    border-top: 1px solid rgba(164, 164, 164, 0.15);
    border-left: 1px solid rgba(190, 190, 190, 0.15);
    border-top-left-radius: 50px;
    z-index: 0;

}