* {
    font-family: "Montserrat", sans-serif;
}



body {
    background-color: #181c27; 
    background-image: radial-gradient(
        circle at 30% 20%,
        rgba(100, 130, 255, 0.08),
        transparent 60%
    ),
    radial-gradient(
        circle at 80% 70%,
        rgba(70, 240, 255, 0.05),
        transparent 60%
    );
    color: #eaeaea;
}